@import url(../css/preview.css);
@import url(../css/buttom.css);
@import url(../css/topic.css);
@import url(../css/past.css);
@import url(../css/about.css);
@import url(../css/footer.css);

body{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.42;
  background:#17191C;
  font-family: "Open Sans", sans-serif;
}

a{
  color:#FFFFFF;
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}

.main-page-wrapper{
  background: url(../img/bk.png) center top no-repeat, url(../img/bk2.png) bottom no-repeat;
  
}