@import url(/tasknumbertwo/css/topic.css);
@import url(/tasknumbertwo/css/button.css);
@import url(/tasknumbertwo/css/header.css);
@import url(/tasknumbertwo/css/past.css);
@import url(/tasknumbertwo/css/preview.css);
@import url(/tasknumbertwo/css/about.css);
@import url(/tasknumbertwo/css/footer.css);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: #17191C;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

.main-page-wrapper {
  background: url(/img/bk.png) center top no-repeat, url(/img/bk2.png) bottom no-repeat;
}