.past__title{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 46px;
  margin-top: 127px;
}

.past__item{
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.past__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.past__info{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 17px 45px ;
  min-height: 140px;
}

.past_date{
  font-weight: normal;
  font-size: 14px;
}

.past__heading{
  font-weight: bold;
  font-size: 24px;
}

.past__text{
  font-weight: normal;
  font-size: 16px;
}

.paginator{
  margin-top: 58px;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

.paginator__display, .paginator__list{
  display: inline-block;
  vertical-align: middle;
}
.paginator__display{
  margin-right: 25px;
}

.paginator__item{
  display: inline-block;
  vertical-align: middle; 
}

.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.paginator__link:hover{
  background: #8F00FF;
}