.about{
  margin-top: 153px;
}


.about__content::before{
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 489px;
  height: 505px;
  background: url(../../img/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center / cover no-repeat;
}

.about__info{
  background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
  border-radius: 5px;
  padding: 70px 81px;
  display: inline-block;
  vertical-align: top;
  width: 586px;
  margin-left: -121px;
  margin-top: 96px;
}

.about__info-title{
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__info-text{
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 43px;
}

.about__info-text p {
  margin-bottom: 20px;
}
.about__info-text p:last-child{
  margin-bottom: 0;
}