.footer{
  display: flex;
  justify-content: space-between;
  padding: 34px;
  margin-top: 75px;
}

.footer__piece{
  display: flex;
  align-items: center;
}

.footer__piece-right{
  justify-content: flex-end;
}

.contacts{
  font-style: normal;
}

.contacts__info{
  font-weight: normal;
  font-size: 11px;
  color:#9A9A9A;
}

.socials__list{
  margin-right: 30px;
}

.socials__link{
  display: flex;
  text-decoration: none;
  width: 36px;
  height: 36px;

}
.socials__item{
  display: inline-flex;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child{
margin-right: 0;
}

.socials__item-icon-telegram .socials__link{
  background-image: url(../../img/telegram.png);
}
.socials__item-icon-vk .socials__link{
  background-image: url(../../img/vk.png);
}
.socials__item-face .socials__link{
  background-image: url(../../img/f.png);
}
.socials__item-inst .socials__link{
  background-image: url(../../img/in.png);
}