.form {
  background: #ececec;
}

.form__title {
  color: #1A1B1E;
  font-weight: bold;
  font-size: 48px;
  padding-top: 62px;
}

input {
  width: 535px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 26px;
  margin-right: 10px;
  border-radius: 5px;
  border: white;
  padding-left: 15px;
}

input:focus {
  border: 3px solid #8F00FF;
}

textarea {
  width: 1085px;
  height: 235px;
  padding-top: 29px;
  padding-left: 30px;
  border-radius: 5px;
  border: white;
}

textarea:focus {
  border: 3px solid #8F00FF;
}

.form__select{
 display: flex;
 padding-top: 34px;
 flex-wrap: wrap;
 align-items: baseline;
}

.form__select-button{
  background: #dfdfdf;
  border-radius: 35px;
  color: #303030;
  font-size: 13px;
  width: 140px;
  height: 37px;
  text-align: center;
}

.form__text{
  color: #1A1B1E;
  font-size: 18px;
  width: 366px;
  padding-right: 88px;
}

.form__select-button:focus{
  background: #B9EAE4;
  border-color: #ececec;
}

.form__buttom {
  min-width: 80px;
  padding-right: 10px;
  padding-bottom: 96px;
  display: flex;
  justify-content: flex-end;
}

.form__buttom-icon-reset {
  width: 168px;
  height: 55px;
  background: #8E8E8E;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.form__buttom-icon-reset:hover {
  background: #2B2B2B;
}

.form__buttom-icon-submit {
  width: 168px;
  height: 55px;
  background: #8F00FF;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.form__buttom-icon-submit:hover{
  background: #741BBA;
}