.form{
  background: #ececec;
}

.form__title{
color: #1A1B1E;
font-weight: bold;
font-size: 48px;
padding-top: 62px;
}

input{
  width: 550px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 26px;
  margin-right: 10px;
  border-radius: 5px;
  border: white;
}
