.feedback{
  background: #F2F2F2;;
  padding-top: 5px;
  padding-bottom: 96px;
}

.form__title{
  font-weight: bold;
  font-size: 48px;
  color: #1A1B1E;
  padding-bottom: 40px;
}

.form__row{
  display: flex;
  margin-bottom: 29px;
}

.form__input{
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: none;
  background: white;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input::placeholder{
  color: #666666;
}

.form__input:last-child{
  margin-right: 0px;
}

.form__input-textarea{
  height: 235px;
}

.controls__elem{
  cursor: pointer;
}

.form__controls{
  display: flex;
  padding-bottom: 35px;
}

.form__controls-title{
  width: 40%;
  color: #1A1B1E;
  padding-left: 30px;
  margin-right: 15px;
}

.controls{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item{
  margin-bottom: 9px;
  margin-right: 7px;
}

.controls__checkbox:checked ~ .controls__tag{
background: #B9EAE4;
}

.controls__checkbox{
  display: none;
}

.buttom-feedback-grey{
background: #8E8E8E;
color: white;
}

.buttom-feedback-grey:hover{
  background: #2B2B2B;
  }

.buttom-feedback-purp{
 background: #8F00FF;
 color: white;
}

.form__buttoms{
  display: flex;
  justify-content: flex-end;
}

.form__btn{
  margin-right: 17px;
}

.form__btn:last-child{
  margin-right: 0;
}