.partners{
  background: #ececec;
  padding: 60px 0;
}
.partners__title{
  font-weight: bold;
  font-size: 48px;
  color: #1A1B1E;
  margin-bottom: 35px;
  margin-top: 0;
}

.partnerss__list{
  display: flex;
  flex-wrap: wrap;  
  gap: 20px; /*grid-gap. Они позволяют легко создавать отступы между элементами внутри сетки.*/
}

.partners__link{
  display: flex;
  width: 270px;
  height: 100px;
  align-items: center;
  justify-content: center;
}