header{
  margin-bottom: 148px;
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
}

.header__piece{
  display: flex;
  align-items: center;
}

.header__piece-right{
  justify-content: flex-end;
}

.logo{
  margin-right: 125px;
}


.menu__item{
  display: inline-flex;
  margin-right: 65px;
}

.menu__link{
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

.menu__link:hover{
  color: #8F00FF;
}

.contacts{
  font-style: normal;
  text-align: right;
}

.contacts__number{
  text-decoration: none;
  font-size: 26px;
}

.contacts__schedule{
  font-size: 13px;
  margin-top: -7px;
  margin-right: 5px;
  text-decoration: underline;
  color: #98A4A8;
}

.preview__content-text{
  width: 60%;
}

.preview__title{
  font-weight: bold;
  font-size: 60px;
  line-height: 1.1;
  margin-top: -30px;
}

.preview__subtitle{
  font-size: 21px;
  margin-bottom: 90px;
}


