.start{
  height: 100vh;
  background: url(../../img/startpagebg.png) center top no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: #17191C;
  box-shadow: inset 0 350px 250px #17191C;
  display: flex;
}

.start__content{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: myAnimation 1s;
  width: 100%;
}

@keyframes myAnimation{
  20%,50%,80%,to{
    transform: translateY(0);
  }
  0%{
    opacity: 0;
  }
  40%{
    transform: translateY(-30px);
  }
  50%{
    
  }

  70%{
    transform: translateY(-15px);
    opacity: 1;
  }

  90%{
    transform: translateY(-4px);
  }
 
}

.start__buttom{
  padding-top: 50px;
}

.buttom-start-page{
  padding: 18px 55px;
}